/*login.css*/
body{width:100%;overflow: hidden;}
.login { width: 100%; position: relative; }
.login .back { width: 100%;height:auto; overflow: hidden;}
.login .back:after { content: ''; position: fixed; left: 0; top: 0; display: block; width: 100%; height: 100%; background: rgba(0,0,0,.8); z-index: 1; }
.login .back img { width: 100%; min-height:100%;}
.login .icon-text { width: 120px; height: 55px; position: fixed; left: 50%; top: 40%; margin: -55px 0 0 -60px; background: url('/assets/trueme/images/user/icon-text.png') no-repeat center center; z-index: 2; background-size: 100%; }
.login .signup { position: fixed; width: 100%; left: 0; bottom: 0.8rem; z-index: 3; }
.login .signup .btn-green { background: #0bca18; display: block; margin: 0 auto; width: 80%; height: 0.95rem; border-radius: 50px; color: #fff; font-size: 22px; padding: 0; line-height: 0.95rem; }
.login .signup .btn-green>img { height: 60%; margin-right: 12px; }
.login .signup .phone { width: 80%; margin-left: 10%; margin-top: 0.8rem; }
.login .signup .phone>a { color: #5f5d5c; }
.login .signup .phone>a:nth-child(1) { float: left; }
.login .signup .phone>a:nth-child(2) { float: right; text-decoration: underline; }
