/*文案*/
.wenan-list {
    padding-bottom: .25rem;
    margin-bottom: .2rem;
    background-color: #fff;
}
.wenan .top {
    padding: 0.25rem;
    background-color: #fff;
}
.wenan .top ul {
    border: solid 1px #4a4a4a;
    height: 0.5rem;
    border-radius: 5px;
}
.wenan .top ul > li {
    height: 0.48rem;
    line-height: 0.48rem;
    font-size: 0.2rem;
    text-align: center;
}
.wenan .top ul > li:nth-child(2), .wenan .top ul > li:nth-child(1) {
    border-right: solid 1px #4a4a4a;
}
.wenan .top ul > li.active a {
    color: #fd4a4a;
}
.wenan .top .bianji {
    margin: 0.3rem 0;
    position: relative;
    height: 0.52rem;
    line-height: 0.5rem;
}
.wenan .top .bianji span {
    font-size: 0.3rem;
    color: #4a4a4a;
}
.wenan .top .bianji .shouchang {
    position: absolute;
    right: 0.2rem;
    top: 0;
    border: solid 1px #fd4a4a;
    width: 1.2rem;
    height: 0.5rem;
    border-radius: 5px;
    text-align: center;
    font-size: 0.25rem;
    color: #fd4a4a;
    line-height: 0.45rem;
}
.wenan .center {
    width: 100%;
    height: 5.6rem;
    overflow: hidden;
}
.wenan .center img {
    width: 100%;
    min-height: 5.6rem;
}
.wenan-p {
    padding: .3rem;
    font-size: .26rem;
    color: #4a4a4a;
}
.wenan-fy {
    padding: 0 .3rem;
    color: #aaa;
    font-size: .22rem;
}
.wenan-fy .can {
    float: right;
    padding-left: .3rem;
    margin-right: .1rem;
    background: url("/assets/maker/images/index/icon-c.png") no-repeat center left;
    background-size: .25rem;
}
.wenan-fy .fx {
    float: right;
    padding-left: .3rem;
    background: url("/assets/maker/images/index/icon-fx.png") no-repeat center left;
    background-size: .25rem;
}
.wenan-fy .fx1 {
    float: right;
    padding-left: .35rem;
    background: url("/assets/maker/images/index/143.png") no-repeat center left;
    background-size: .3rem;
}





